fastapi[standard]==0.115.0
uvicorn[standard]==0.30.0
pdfplumber==0.11.4
spacy==3.7.4
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.0/en_core_web_lg-3.7.0-py3-none-any.whl
ro-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/ro_core_news_lg-3.7.0/ro_core_news_lg-3.7.0-py3-none-any.whl
rapidfuzz==3.9.0
dateparser==1.1.8
pydantic==2.8.2
numpy==1.26.4
scikit-learn==1.5.0
python-multipart==0.0.9
